.blog-pre {
    /* margin-bottom: 3em !important; */
    padding: 0;
    margin: 0;
    border-radius: 0.3em;
    /* -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0); */
    position: relative;
    overflow: clip;
    min-height: 20px;
}

.code-header-style {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em; 
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.code-copy-standalone-style {
    position: absolute;
    height: 100%;
    right: 0.6em;
}

.code-copy-btn {
    /* color: white; */
    display: inline-block;
    font-size: 1.2em;
    opacity: 0.8;
    cursor: pointer;
    z-index: 1000;
    /* transition: all 0.3s ease-in-out; */
}

.code-copy-btn:hover {
    /* transform: scale(1.1); */
    opacity: 1;
}